body {
    background-color:#C0D0E0;
}

a.nav {
    color:#0000EE;
    font-style: normal;
    text-decoration: none;
}
span.login {
    color: #203;
}

div.hide_tab, div.show_tab {
    cursor: pointer;
    font-size: 70%;
    padding-bottom: 2px;
    border-style: none;
    border-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
span.hide_tab, span.show_tab {
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 4px;
    border-bottom-style: none;

}

div.show_tab:hover, div.hide_tab:hover, span.program_signal:hover {
    color: #A59;
}
div.show_tab:active, div.hide_tab:active, span.program_signal:active {
    color: #F59;
}
div.show_tab:focus, div.hide_tab:focus, span.program_signal:focus {
    color: #C59;
}

div.programs {
    background-color:#D0D0F0;
}
table.programs, th.programs, td.programs {
    border: 1px solid black;
}
