div.contestPanel {
    background-color:#A0D0E0;
    padding: 5px;
    margin-left: 10px;
    min-height: 10px;
    width: auto;
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
}
h3.contestPanel {
}

div.controller {
    background-color:#80D0E0;
    margin-left: 10px;
    margin-right: 5px;
    width: max-content;
}
h3.controller {
}
span.controller {
    color: #339;
}

div.set,div.get {
    background-color:#60A0B0;
    margin-left: 10px;
}
h3.set {
}
table.set, th.set, td.set, tr.set,
table.get, th.get, td.get, tr.get, td.getvalue {
    border: 2px solid black;
}
h3.get {
}
td.getvalue {
    background-color:#50A0A0;
    cursor: pointer;
}
td.getvalue:hover {
    background-color:#2090B0;
}
td.getvalue:focus {
    background-color:#2090B0;
}
td.getvalue:active {
    background-color:#F040B0;
}
img.controller {
    border: 2px solid black;
    min-width: 300px;
    margin: 8px;
}
div.launcher {
    background-color:#CAC;
}
table.launcher {
    border: 2px solid black;
}
th.launcher, td.launcher, td.args, td.runCount, td.numRunning {
    border: 1px solid black;
}

td.launcher {
    color: #34F;
    cursor: pointer;
}
td.launcher:focus {
    color: #34A;
}
td.launcher:hover {
    color: #84A;
}
td.launcher:active {
    color: #C25;
}
td.runCount {
}
td.numRunning {
}
td.args {
}

table.runningPrograms {
    border: 2px solid black;
}
th.runningPrograms, td.path, td.args, td.signalInput, td.signalButton {
    border: 1px solid black;
}

td.signalButton:focus {
    color: #34A;
}
td.signalButton:hover {
    color: #84A;
}
td.signalButton:active {
    color: #C25;
}

div.programs {
    background-color:#CAC;
}



