/* TODO: only apply to axis labels? */
svg * { font: 18px Courier; fill: white;}

* {
    font-family: Helvetica, Arial, sans-serif;
  }

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

select.edited {
    background-color: #D2D2D2;
}

select.notedited {
    background-color: #D7D7D7;
}



span.func {
    font-size: 150%;
}


textarea.userfunction {
    color: white;
    font: 1em monospace;
    font-size: 150%;
    background-color: #686868;
    border-color: #E0E0E0;
    border-width: 5px;
    border-radius: 20px;
    border-top-left-radius: 2px;
}


.no-fill {
    background-color: #000;
}


/* Style the lines by removing the fill and applying a stroke */
.no-fill        { fill: none; }
.no-display     { display: none; }
.stroke-light   { stroke-width: 2; }
.stroke-med     { stroke-width: 3; }
.dashed         { stroke-dasharray: 4,4; }
.stroke-blue    { stroke: #004080; }
.stroke-green   { stroke: #008040; }
.stroke-red     { stroke: #804000; }
.stroke-gray-0  { stroke: #cccccc; }
.courier        {}

/* bounding box */
.domain { display: none; }

/*.grid line { stroke: #ffffff; }*/

.width-1 { width: 240px; }
.width-2 { width: 320px; }
.width-3 { width: 480px; }
.width-4 { width: 640px; }
.width-5 { width: 960px; }


/*svg {
    background-color: #000000;
}*/


body {
    background-color: #484848;
    color:rgb(255,255,255);
}
