
td.parameterName {
    font-size: 130%;
    text-align: center;
}
span.functionButton:hover {
    color: #529;
    background-color: #aaa;
}
span.functionButton:active {
    color: #522;
    background-color: #aaa;
}
span.functionButton {
    color: #33A;
    cursor: pointer;
    font-size: 130%;
}
span.readonly {
    color: #922;
    margin-left: 4px;
}
