table.crts_header {
    width:100%;
    padding-top:0px;
    padding-bottom:2px;
    left:0px;
    margin:0px;
    width:100%;
    background-image:url('/img/sessionHeaderBackground.png');
    padding: 0px;
    font-weight: bold;
}
div.version {
    height: 30%;
    background-color:#8E9EDD;
    font-size:80%;
    padding: 5px;
    white-space: nowrap;
    border-radius:8px;
    border-radius:8px;
    border: solid 1px #45454F;

}
td.header1, td.version {
    text-align: center;
}
td.user {
    text-align: right;
    padding-right: 5px;
}
td.header1 {
    font-size:160%;
}
td.version {
}
